<div id="footer" class="panel">
  <div class="panel-footer">
	<div class="container-fluid">
	  <div class="row">
		<div class="col-sm-12 footer-iletisim">
		  İTÜ Ayazağa Kampüsü Maden Fakültesi Jeoloji Mühendisliği Bölümü, Maslak/Sarıyer/İstanbul, Türkiye · <a href="mailto:eneszengin@itu.edu.tr">eneszengin@itu.edu.tr</a>
		</div>
	  </div>
	</div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
